<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center"><em>Virtua</em> Center</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Atividades compartilhadas</a></li>
            <li><a href="/dashboard">Painel de controle</a></li>
            <li><a href="/auth/logout">Sair</a></li>
        </ul>
    </div>
</nav>
