<h3>Nova atividade</h3>
<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Título</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Público</option>
                    <option value="private">Particular</option>
                </select>
                <label for="status">Domínio</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Conte-nos sobre a atividade</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Salvar" class="btn">
            <a href="/dashboard" class="btn orange">Cancelar</a>
        </div>
    </form>
</div>
