<h3>Alterar a atividade</h3>
<div class="row">
    <form action="/stories/{{story._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{story.title}}">
                <label for="title">Título</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select story.status}}
                    <option value="public" selected>Público</option>
                    <option value="private">Privado</option>
                    {{/select}}
                </select>
                <label for="status">Domínio</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Conte-nos sobre a atividade</h5>
                <textarea id="body" name="body">{{story.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Salvar" class="btn">
            <a href="/dashboard" class="btn orange">Cancelar</a>
        </div>
    </form>
</div>
